# Rider / IntelliJ
.idea/
*.DotSettings.user

# .NET build output
**/bin/
**/obj/

# ASP.NET uploads / temp
**/uploads/

# OS
.DS_Store

# Logs
*.log

# .NET environment-specific configs
**/appsettings.Development.json
**/appsettings.Local.json

**/GeneratedMSBuildEditorConfig.editorconfig
**/AssemblyInfo.cs
